/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_layout.scss */
::selection {
  background: #00bae0;
  /* WebKit/Blink Browsers */
}

/* line 4, ../sass/_layout.scss */
::-moz-selection {
  background: #00d4ff;
  /* Gecko Browsers */
}

/* line 7, ../sass/_layout.scss */
a {
  text-decoration: none;
}

/* line 16, ../sass/_layout.scss */
section {
  height: auto;
}

/* line 23, ../sass/_layout.scss */
#screen1 {
  height: 100vh;
  background-attachment: fixed;
  background-image: url("../images/cover.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 32, ../sass/_layout.scss */
.home-overlay {
  background-color: rgba(44, 62, 80, 0.3);
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

/* line 43, ../sass/_layout.scss */
.flags a {
  display: inline-block;
  float: right;
}

/* line 51, ../sass/_layout.scss */
#screen2 {
  background: #f5f5f5;
  min-height: 700px;
}

/* line 57, ../sass/_layout.scss */
#screen3 {
  background: #f5f5f5;
}

/* line 60, ../sass/_layout.scss */
#screen4 {
  background: #ffffff;
}

/* line 63, ../sass/_layout.scss */
#screen5 {
  background-attachment: fixed;
  background-image: url("../images/bg_contacts.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
}

/* line 71, ../sass/_layout.scss */
#screen6 {
  background-attachment: fixed;
  background-image: url("../images/code.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
}

/* line 81, ../sass/_layout.scss */
.intro {
  color: #fff;
  position: absolute;
  top: 45%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: 21px;
}

/* line 91, ../sass/_layout.scss */
.intro h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 22px;
  font-size: 30px;
  background-color: #00bae0;
  color: #fff;
  width: 350px;
  text-align: center;
  margin: 0px auto;
  opacity: 0.8;
}

/* line 104, ../sass/_layout.scss */
.start {
  padding: 14px;
}

/* line 108, ../sass/_layout.scss */
.top {
  position: fixed;
  bottom: 2%;
  right: 1.5%;
  z-index: 1;
  display: none;
}

/* line 116, ../sass/_layout.scss */
.top:hover {
  opacity: 0.7;
}

/* line 120, ../sass/_layout.scss */
#copyright {
  font-family: "Oswald",sans-serif;
  font-weight: bold;
  background-color: #151515;
  color: #515a5f;
  padding-top: 35px;
  font-size: 1.2em;
}

/* line 131, ../sass/_layout.scss */
#copyright p {
  font-family: "Oswald",sans-serif;
  font-weight: bold;
  text-align: center;
  height: auto;
  padding-bottom: 10px;
}

/* line 140, ../sass/_layout.scss */
.row {
  text-align: center;
  padding: 30px;
}

/* line 144, ../sass/_layout.scss */
.row ul {
  margin: 20px auto;
}

/* line 150, ../sass/_layout.scss */
.row ul li {
  display: inline-block;
  padding: 25px;
  margin: 8px 15px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #f0f0f0;
  cursor: pointer;
}

/* line 160, ../sass/_layout.scss */
.row ul li img {
  display: block;
}

/* line 165, ../sass/_layout.scss */
.row ul li:hover {
  transition: all 0.3s ease 0s;
  margin: 0 25px;
  -webkit-box-shadow: -2px 9px 34px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 9px 34px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 9px 34px 0px rgba(0, 0, 0, 0.75);
}

/* line 176, ../sass/_layout.scss */
.row ul li:hover .open1 {
  visibility: visible;
}

/* line 179, ../sass/_layout.scss */
.highlight {
  color: #00bae0;
}

/* line 182, ../sass/_layout.scss */
.open1 {
  visibility: hidden;
  background: #00bae0;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-weight: bold;
}

/* line 191, ../sass/_layout.scss */
.gallery {
  text-align: center;
  padding: 30px;
}

/* line 198, ../sass/_layout.scss */
.gallery ul {
  margin: 20px auto;
}

/* line 204, ../sass/_layout.scss */
.gallery ul li {
  display: inline-block;
  padding: 5px 25px;
  text-align: center;
}

/* line 212, ../sass/_layout.scss */
.title {
  padding-top: 120px;
  text-align: center;
}

/* line 218, ../sass/_layout.scss */
.header-text {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 25px;
  border: 3px solid #00bae0;
  display: inline-block;
  padding: 4px;
  font-family: "Oswald",sans-serif;
  font-weight: bold;
}

/* line 231, ../sass/_layout.scss */
.subtitle {
  font-size: 1.2em;
}

/* line 236, ../sass/_layout.scss */
.text {
  background-color: #00bae0;
  color: #fff;
  padding: 5px;
}

/* line 242, ../sass/_layout.scss */
.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: #00bae0;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  box-shadow: 0 0 0 4px #fff, 0 0 0 7px #00bae0;
  margin: 0 auto;
  margin-top: 18px;
}

/* line 257, ../sass/_layout.scss */
.circle p {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
  font-weight: bold;
}

/* line 265, ../sass/_layout.scss */
.kenntnise {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  margin: 0;
  padding: 20px 10px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease 0s;
  height: 400px;
  width: 230px;
  text-transform: uppercase;
}

/* line 279, ../sass/_layout.scss */
.gallery ul :hover .kenntnise {
  background: #00bae0;
  color: #ffffff;
}

/* line 283, ../sass/_layout.scss */
.gallery li :hover .circle {
  background: #fff;
  box-shadow: 0 0 0 4px #00bae0, 0 0 0 7px #fff;
}

/* line 287, ../sass/_layout.scss */
.gallery li :hover .circle p {
  color: #00bae0;
}

/* line 291, ../sass/_layout.scss */
.text1 {
  padding-top: 15px;
  text-transform: initial;
}

/* line 296, ../sass/_layout.scss */
h2 {
  font-family: "Oswald",sans-serif;
}

/* line 299, ../sass/_layout.scss */
h3 {
  font-size: 1.85em;
  font-family: "Oswald",sans-serif;
  padding-bottom: 25px;
}

/* line 307, ../sass/_layout.scss */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

/* line 317, ../sass/_layout.scss */
.styled-list li {
  text-transform: initial;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  display: initial;
}

/* line 323, ../sass/_layout.scss */
.contact {
  font-size: 3em;
  color: #fff;
  text-align: center;
  padding-top: 120px;
}

/* line 330, ../sass/_layout.scss */
.contact p {
  background: #fff;
  opacity: 0.5;
  color: #000000;
  margin-top: 20px;
}

/* line 337, ../sass/_layout.scss */
.contact #Quotes {
  background: #00bae0;
  opacity: 0.7;
  color: #fff;
  margin-top: 20px;
}

/* line 344, ../sass/_layout.scss */
a {
  color: #000000;
}

/* line 348, ../sass/_layout.scss */
.white {
  color: #fff;
}

/* line 352, ../sass/_layout.scss */
.down {
  text-align: center;
}

/* line 355, ../sass/_layout.scss */
.down ul {
  margin: 20px auto;
}

/* line 358, ../sass/_layout.scss */
.down ul li {
  display: inline-block;
  margin: 0 10px;
}

/* line 366, ../sass/_layout.scss */
.flags a {
  padding: 25px 10px;
}

/* line 370, ../sass/_layout.scss */
.flags img:hover {
  opacity: 0.7;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2015, 1:15:41 AM
    Author     : goran
*/
/* line 11, ../sass/_scroll-up.scss */
#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: -150px;
}

/* line 17, ../sass/_scroll-up.scss */
#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

/* line 31, ../sass/_scroll-up.scss */
#back-top a:hover {
  color: #000;
}

/* arrow icon (span tag) */
/* line 36, ../sass/_scroll-up.scss */
#back-top span {
  width: 108px;
  height: 108px;
  display: block;
  margin-bottom: 7px;
  background: #dddddd url(up-arrow.png) no-repeat center center;
  /* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

/* line 53, ../sass/_scroll-up.scss */
#back-top a:hover span {
  background-color: #777;
}

/* line 1, ../sass/_kontakt.scss */
#kontakt {
  padding-top: 30px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

/* line 10, ../sass/_kontakt.scss */
#kontakt label {
  display: block;
  letter-spacing: 2px;
}

/* line 17, ../sass/_kontakt.scss */
#kontakt form {
  margin: 0 auto;
}

/* line 22, ../sass/_kontakt.scss */
#kontakt form span {
  color: #F02457;
}

/* line 26, ../sass/_kontakt.scss */
#kontakt textarea {
  height: 150px !important;
}

/* line 30, ../sass/_kontakt.scss */
#kontakt input, textarea, button {
  border: 1px solid #D7D8D8;
  color: #000000;
  font: 14px Arial,Helvetica,sans-serif;
  height: 32px;
  padding: 2px 5px;
  width: 550px;
}

/* line 39, ../sass/_kontakt.scss */
#kontakt #submitkontakt {
  width: 563px;
  margin: 10px auto;
  background: #00bae0;
  color: #fff;
  height: 38px;
  font: bold;
  background-image: url(../images/mail.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 54, ../sass/_kontakt.scss */
#kontakt input:focus, textarea:focus {
  outline: none;
  border: 1px solid #97d6eb;
  background-color: #c2e7f3;
}

/* line 62, ../sass/_kontakt.scss */
#kontakt #submitkontakt:hover {
  opacity: 0.7;
}

/* line 68, ../sass/_kontakt.scss */
.jezik {
  display: none;
}

/* line 72, ../sass/_kontakt.scss */
#limitation {
  text-align: center;
  color: #f02457;
  padding-top: 20px;
}

/* line 78, ../sass/_kontakt.scss */
#good {
  width: 258px;
  margin: 0 auto;
}

/* line 82, ../sass/_kontakt.scss */
#good p {
  text-align: center;
  font-size: 1.2em;
}

/* line 86, ../sass/_kontakt.scss */
.loading {
  padding: 170px;
  width: 64px;
  margin: 0 auto;
}

/* line 92, ../sass/_kontakt.scss */
#down {
  padding-top: 10px;
}

/* line 3, ../sass/_bounce.scss */
.fa {
  width: 60px;
  display: block;
  text-align: center;
  color: #fff;
  font: normal 45px 'FontAwesome';
  line-height: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* line 13, ../sass/_bounce.scss */
.fa-angle-double-down:before {
  content: "\f103";
}

/* line 15, ../sass/_bounce.scss */
.bounce {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  margin-top: 120px;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  /* line 35, ../sass/_bounce.scss */
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  /* line 36, ../sass/_bounce.scss */
  40% {
    -webkit-transform: translateY(-30px);
  }

  /* line 37, ../sass/_bounce.scss */
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  /* line 41, ../sass/_bounce.scss */
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  /* line 42, ../sass/_bounce.scss */
  40% {
    -moz-transform: translateY(-30px);
  }

  /* line 43, ../sass/_bounce.scss */
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  /* line 47, ../sass/_bounce.scss */
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }

  /* line 48, ../sass/_bounce.scss */
  40% {
    -o-transform: translateY(-30px);
  }

  /* line 49, ../sass/_bounce.scss */
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  /* line 52, ../sass/_bounce.scss */
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  /* line 53, ../sass/_bounce.scss */
  40% {
    transform: translateY(-30px);
  }

  /* line 54, ../sass/_bounce.scss */
  60% {
    transform: translateY(-15px);
  }
}

/* line 1, ../sass/_popup.scss */
.win1, .win2, .win3 {
  display: none;
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 11;
}

/* line 15, ../sass/_popup.scss */
.close {
  font-size: 3em;
  color: #00bae0;
  position: fixed;
  right: 2em;
  top: 2em;
  cursor: pointer;
}

/* line 24, ../sass/_popup.scss */
.x {
  width: 45px;
  height: 45px;
  background-color: #00bae0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  border: 2px white;
}

/* line 36, ../sass/_popup.scss */
.x p {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}

/* line 44, ../sass/_popup.scss */
.wintittle {
  font-family: 0, Arial, Helvetica, sans-serif !important;
  font-size: 80px;
  font-style: normal;
  color: #000000;
  font-weight: normal;
  text-transform: none;
  padding-top: 60px;
  padding-bottom: 25px;
  border-bottom: 2px solid #f0f0f0;
}

/* line 55, ../sass/_popup.scss */
.win3 img {
  padding-top: 35px;
}

/* line 59, ../sass/_popup.scss */
.cv {
  padding-top: 180px;
}

/* line 62, ../sass/_popup.scss */
.bottom {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 35px;
  background-color: #00bae0;
  color: #fff;
  line-height: 35px;
  font-size: 1.3em;
  margin-top: 20px;
}

/* line 74, ../sass/_popup.scss */
.bottom a {
  color: #fff;
}

/* line 78, ../sass/_popup.scss */
.bottom a:hover {
  color: #f0f0f0;
}

/* line 81, ../sass/_popup.scss */
.letter {
  width: 700px;
  text-align: left;
  margin: 70px auto;
  color: #00000;
  font-size: 1.15em;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2015, 4:44:09 PM
    Author     : goran
*/
@media screen and (max-width: 600px) {
  /* line 13, ../sass/_tablet.scss */
  #kontakt input, textarea {
    width: 450px;
  }

  /* line 18, ../sass/_tablet.scss */
  #kontakt #submitkontakt {
    width: 462px;
  }

  /* line 21, ../sass/_tablet.scss */
  #kontakt {
    width: 450px;
  }

  /* line 25, ../sass/_tablet.scss */
  nav {
    width: 100%;
    height: 50px;
  }

  /* line 31, ../sass/_tablet.scss */
  nav li {
    padding: 10px 10px;
    font-size: 0.8em;
  }

  /* line 36, ../sass/_tablet.scss */
  .fixed {
    height: 50px;
    opacity: 0.92;
  }

  /* line 40, ../sass/_tablet.scss */
  .white {
    font-size: 0.7em;
  }

  /* line 43, ../sass/_tablet.scss */
  .bounce {
    display: none;
  }

  /* line 48, ../sass/_tablet.scss */
  .letter {
    width: auto;
  }

  /* line 51, ../sass/_tablet.scss */
  #screen2 {
    height: auto;
  }
}
@media screen and (max-width: 882px) {
  /* line 59, ../sass/_tablet.scss */
  .contact {
    font-size: 1.8em;
  }

  /* line 62, ../sass/_tablet.scss */
  .close {
    right: 0.5em;
    top: 0.5em;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2015, 4:47:59 PM
    Author     : goran
*/
@media screen and (max-width: 510px) {
  /* line 14, ../sass/_mobile.scss */
  #kontakt input, textarea {
    width: 300px;
  }

  /* line 19, ../sass/_mobile.scss */
  #kontakt #submitkontakt {
    width: 312px;
  }

  /* line 22, ../sass/_mobile.scss */
  #kontakt {
    width: 300px;
  }

  /* line 26, ../sass/_mobile.scss */
  #screen6 {
    display: none;
  }

  /* line 29, ../sass/_mobile.scss */
  #copyright {
    min-height: auto;
  }

  /* line 32, ../sass/_mobile.scss */
  .title {
    padding-top: 50px;
  }

  /* line 35, ../sass/_mobile.scss */
  .wintittle {
    font-size: 50px;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2015, 11:31:33 PM
    Author     : goran
*/
/* line 10, ../sass/_menu.scss */
.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
  opacity: 0.94;
}

/* line 18, ../sass/_menu.scss */
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  text-align: center;
  color: #fff;
  font-family: 'open-sans-bold';
  -webkit-box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75);
}

/* line 36, ../sass/_menu.scss */
nav li {
  display: inline-block;
  padding: 25px 10px;
}

/* line 42, ../sass/_menu.scss */
nav li a {
  color: #000000;
  text-transform: uppercase;
}

/* line 48, ../sass/_menu.scss */
nav li a:hover {
  color: #00bae0 !important;
  transition: all 0.3s ease;
}

@media screen and (min-width: 600px) {
  /* line 55, ../sass/_menu.scss */
  .nav-button {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 58, ../sass/_menu.scss */
  #screen1 {
    height: 200px;
  }

  /* line 62, ../sass/_menu.scss */
  .home-overlay {
    height: 200px;
  }

  /* line 67, ../sass/_menu.scss */
  .intro {
    top: 2%;
    transform: none;
  }

  /* line 73, ../sass/_menu.scss */
  .fixed {
    height: 50px;
    opacity: 1;
  }

  /* line 79, ../sass/_menu.scss */
  nav {
    color: #D3D3D3;
    height: 50px;
    bottom: none;
    top: 200px;
  }

  /* line 86, ../sass/_menu.scss */
  nav li {
    padding: 0px;
  }

  /* line 91, ../sass/_menu.scss */
  .primary-nav li {
    display: none;
    width: 100%;
    background: #fff;
  }

  /* line 101, ../sass/_menu.scss */
  .primary-nav li a {
    display: block;
    width: 90%;
    padding: 14px 5%;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
    color: #00000;
    text-decoration: none;
  }

  /* line 114, ../sass/_menu.scss */
  .primary-nav > li {
    border-bottom: 1px solid #00bae0;
  }

  /* line 120, ../sass/_menu.scss */
  .primary-nav.open {
    height: auto;
    margin-top: 50px;
    transition: all 0.1s ease;
  }

  /* line 126, ../sass/_menu.scss */
  .primary-nav.open li {
    display: block;
  }

  /* line 132, ../sass/_menu.scss */
  .nav-button {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    background: url("../images/mobile_menu/menu-icon-large.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 23px, 100%;
    cursor: pointer;
    border: 0 none;
    border-radius: 5px;
    float: left;
  }

  /* line 150, ../sass/_menu.scss */
  .nav-button.open {
    background: url("../images/mobile_menu/close-icon-large.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 23px, 100%;
  }

  /* line 158, ../sass/_menu.scss */
  .flags a {
    padding: 14px 7px;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2015, 1:36:04 AM
    Author     : goran
*/
@media screen and (min-width: 1370px) {
  /* line 13, ../sass/_big.scss */
  body, .text {
    font-size: 1.2em;
  }

  /* line 18, ../sass/_big.scss */
  #screen2 {
    height: 100vh;
  }

  /* line 23, ../sass/_big.scss */
  #screen3 {
    height: 100vh;
  }

  /* line 27, ../sass/_big.scss */
  #screen4 {
    height: auto;
  }

  /* line 31, ../sass/_big.scss */
  #screen5 {
    height: 450px;
  }

  /* line 35, ../sass/_big.scss */
  #screen6 {
    height: 450px;
  }

  /* line 39, ../sass/_big.scss */
  .intro {
    font-size: 1.3em;
  }

  /* line 42, ../sass/_big.scss */
  .row ul li {
    padding: 70px;
    margin: 45px 30px;
  }

  /* line 46, ../sass/_big.scss */
  .row ul li:hover {
    margin: 0 45px;
  }

  /* line 52, ../sass/_big.scss */
  .row ul li img {
    zoom: 115%;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2015, 11:36:58 AM
    Author     : goran
*/
@font-face {
  font-family: 'open-sans-bold';
  src: url("../fonts/open-sans/OpenSans-Bold.eot");
  src: url("../fonts/open-sans/OpenSans-Bold.eot?iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: normal;
}

/* line 17, ../sass/_font.scss */
p, h1, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
}

/* line 23, ../sass/_font.scss */
.primary-nav {
  font-family: 'open-sans-bold';
  text-align: center;
}
